/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll-bar::-webkit-scrollbar {
    display: none; 
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-area {
    height: 90vh; 
    overflow-y: scroll;
}
