<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}
{% block content %}
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/placeholder.jpg' %}" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order:logout' %}">Logout</a>
                    </li>
                    {% else %}{% endif %}
                </ul>
            </div>
        </div>
    </nav>
</head>

{% endblock content %}

