<!DOCTYPE html>
{% load static %}
{% block content %}

{% include "nav.html" %}
<div class="container grid pt-3">
    <div class="row">
        <div id="list-menu-categories" class="list-group col-sm-2">
            {% for category in items_by_category.keys %}
            <a class="list-group-item list-group-item-action" href="#{{ category }}-grid">{{ category }}</a>
            {% endfor %}
        </div>
        <div data-bs-spy="scroll" data-bs-target="#list-menu-categories" class="col-10" data-bs-offset="0" tabindex="0">
            {% for category, menu_items in items_by_category.items %}
            <div id="{{ category }}-grid" class="grid">
                <h3>{{ category }}</h3>
                <hr>
                <div class="row row-cols-auto">
                    {% for menu_item in menu_items %}
                    <div class="col-3 card">
                        <img src="{% static 'img/placeholder.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ menu_item.name }}</h5>
                            <p class="card-text">{{ menu_item.ingredients }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}