<!DOCTYPE html>
{% load static %}
{% load bootstrap_icons %}

{% block content %}

{% include "nav.html" %}
<div class="container-fluid pb-5">
    <div class="grid">
        <div class="row">
            <div class="col-auto d-sm-none d-md-block">
                <div id="list-menu-categories" class="list-group position-sticky top-0 pt-5">
                    <div class="pt-3">
                        {% for category in items_by_category.keys %}
                        <a class="list-group-item list-group-item-action pe-5" href="#{{ category|lower }}">{{ category }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-10">
                {% for category, menu_items in items_by_category.items %}
                <div id="{{ category|lower }}" class="pt-5"></div>
                <div class="grid pt-3">
                    <h3 class="">{{ category }}</h3>
                    <hr>
                    <div class="row row-cols-auto">
                        {% for menu_item in menu_items %}
                        <div class="col-3">
                            <button class="card" type="button" data-bs-toggle="modal" data-bs-target="#order-modal-{{ menu_item.id }}">
                                <img src="{% static 'img/placeholder.jpg' %}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ menu_item.name }}</h5>
                                    <p class="card-text">{{ menu_item.ingredients }}</p>
                                </div>
                            </button>
                        </div>
                        <div class="modal fade" id="order-modal-{{ menu_item.id }}" tabindex="-1" aria-labelledby="order-modal-{{ menu_item.id }}-label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="order-modal-{{ menu_item.id }}-label">{{ menu_item.name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form name="add-{{ menu_item.id }}-to-order" action="{% url 'order:edit_order' %}" method="post">
                                            {% csrf_token %}
                                            <input type="number" name="menu_item_id" value="{{ menu_item.id }}" readonly hidden>
                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Order</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-auto">
                <div class="position-fixed mt-4">
                    {% bs_icon 'cart' size='1.5rem' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if item_added %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" aria-live="polite" aria-atomic="true">
    <div id="itemAddedToast" class="toast bg-success text-light align-items-center border-0" role="status" aria-live="polite" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Item added to cart.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


<script>
    let toast = bootstrap.Toast.getOrCreateInstance(itemAddedToast);
    toast.show(); 
</script>
{% else %}
{% endif %}

{% endblock %}