<!DOCTYPE html>
{% block content %}

{% include "nav.html" %}

<div class="container d-flex justify-content-center">
    <div class="card w-50" style="min-width: 500px;">
        <div class="card-body grid">
            {% for store in stores %}
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col-2">
                                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#storeCollapse{{ store.id }}" aria-expanded="false" aria-controls="storeCollapse{{ store.id }}">
                                    Temp
                                </button>
                            </div>
                            <h4 class="card-title col-7">{{ store.name }}</h4>
                            <div class="col-2 text-end">
                                {% if store.is_open %}
                                <form name="orderstore{{ store.name }}" action="{% url 'order:edit_order' %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="store" value="{{ store.id }}" readonly hidden>
                                    <button class="btn btn-primary btn-block" type="submit">Order</button>
                                </form>
                                {% else %}
                                <button href="#" class="btn btn-outline-danger btn-block" disabled aria-disabled="true" type="button"> 
                                    Closed
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card collapse" id="storeCollapse{{ store.id }}">
                            <div class="grid">
                                <div class="row">
                                    <div class="col-5 text-center" style="white-space: pre-line;">
                                        {{ store.address }}
                                    </div>
                                    <div class="col-7">
                                        {% for day, time_interval in store.schedule.items %}
                                        <div class="row">
                                            <div class="col-4">{{ day }}</div>
                                            <div class="col-8">{{ time_interval }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


